<nav class="navbar">
  <div class="site-title">
    <a href="/"><h1>Danganronpa</h1></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/news">Murder</a></li>
      <li><a href="/content-guidelines">Content Guidelines</a></li>
      <li><a href="/blogs/create">New Murder</a></li>
    </ul>
  </div>

</nav>