<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="logo">
    <img src="/assets/logo-nisa.png" id="nisa" alt="">
    <img src="/assets/logo-spike.jpg" id="spike" alt="">
</div>
<br>
<div class="banner">
    <img src="/assets/banner-trilogy.jpg" alt="">
    <hr>
    <img src="/assets/banner-v3.jpg" alt="">
</div>
<div class="btns">
    <button class="btn-danger" data-toggle="collapse" data-target="#retailv3ps4">BUY NOW!<br>(PS4™)</button>
    <button class="btn-danger" data-toggle="collapse" data-target="#retailv3ps4">BUY NOW!<br>(PS Vita)</button>
    <br>
</div>
<hr>

<div class="banner2">
    <img src="/assets/banner-udg.jpg" alt="">
</div>
<div class="btns">
    <button class="btn-danger" data-toggle="collapse" data-target="#retailv3ps4">BUY NOW!<br>(PS4™)</button>
    <button class="btn-danger" data-toggle="collapse" data-target="#retailv3ps4">BUY NOW!<br>(PS Vita)</button>
</div>
<hr>

<div class="banner3">
    <img src="/assets/banner-reload.jpg" alt="">
</div>
<div class="btns">
    <button class="btn-danger" data-toggle="collapse" data-target="#retailv3ps4">BUY NOW!</button>
</div>
<hr>
<div class="banner4">
    <img src="/assets/banner-2.jpg" alt="">
    <img src="/assets/banner-1.jpg" alt="">
</div>
<br>
<div class="end">
  <div class="social">
    <a href=""><i class='bx bxl-facebook'></i></a>
    <a href=""><i class='bx bxl-twitter'></i></a>
    <a href=""><i class='bx bxl-youtube'></i></a>
    <a href=""><i class='bx bxl-twitch'></i></a>
    <a href=""><i class='bx bxl-instagram'></i></a>
    <a href=""><i class='bx bxs-message-rounded'></i></a>
  </div>
  <br>
  <img src="/assets/esrb-rpm.png" alt="">
</div>
<br>

<div class="end2">
  <p>©Spike Chunsoft Co., Ltd. “DANGANRONPA” is a registered trademark of Spike Chunsoft Co., Ltd. All Rights Reserved. Licensed to and published by NIS America Inc.</p>
   <p> The "PS" Family Logo is a registered trademark and the "PSVITA" logo is a trademark of Sony Computer Entertainment Inc.</p>
    <p>The rating icon is a trademark of the Entertainment Software Association. All other trademarks are properties of their respective owners.</p>
</div>
  <!-- <%- include("./partials/footer.ejs") %> -->
</body>
</html>
